/* GLOBAL */

body{
  	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

input:not(.button){
	font-size: 14px !important;
}

input[name*="AV"],
input[name*="BV"],
input[name*="CV"]{
	padding: 0;
	/*width: 195px;*/
}

select[id*="AV"],
select[id*="BV"],
select[id*="CV"]{
	padding: 0;
	/*width: 195px;*/
	font-size: 12px;
}
/* HEADER */

#header{
	position: relative;
	position: fixed;
    position: absolue;
    width: 100%;
    z-index:9999;
}

#h1{
	/*position: relative;*/
	/*position: fixed;
    position: absolue;
    width: 100%;*/
   	padding-top: 100px;
}
/*

#nbAppels{
	position: relative;
	position: fixed;
    position: absolue;
    width: 100%;
   	padding-top: 195px;
}

#form{
	position: relative;
	position: fixed;
    width: 100%;
   	padding-top: 228px;
}
*/


#filter1_param,
#filter2_param,
#filter3_param{
	font-size: 12px;
}
/*
form .filter{
	font-size:12px;
}*/

#table{
	/*position: absolute;
	margin-top: 375px;*/
	font-size: 10px;
	width: 320% !important;
}

#table thead tr{
	text-align: center;
}

#table thead tr th {
	width: 100px;
}

#table thead tr th a{
	font-size:20px;
	margin: 0 10px;
 	text-decoration:none;
}

#table #tbody tr {
	text-align: center;
}

#table #td-objet-appel-commentaire{
	text-align: justify;
	width: 300px
}

#table #tbody #td-action-commentaire{
	text-align: justify;
	width: 150px
}

.liste-utilisateur:hover, .liste-appels:hover{
	color: rgba(255,255,255) !important;
}

header nav div .deconnexion{
	color: rgba(255,255,255,.55);
}

header nav div .deconnexion:hover{
	color: rgba(255,255,255);
}

/* MAIN */

.button{
	font-size: 12px;
}

/*
.filter .filter1 div select{
	font-size: 12px;
}*/

/*DATE ET HEURE*/
#AV1, #AV1Bis,
#BV1, #BV1Bis,
#CV1, #CV1Bis{
	font-size: 12px;
}

/*CHAMPS FORMULAIRE*/
#A1, #A2, #A3, #A4, #A5, #A6, #A7, #A8, #A9, #A10, #A11, #A12, #A14, #A15, #A16, #A17,
#B1, #B2, #B3, #B4, #B5, #B6, #B7, #B8, #B9, #B10, #B11, #B12, #B14, #B15, #B16, #B17,
#C1, #C2, #C3, #C4, #C5, #C6, #C7, #C8, #C9, #C10, #C11, #C12, #C14, #C15, #C16, #C17{
	display:none;
}


/*Checkbox VU*/
.filter .filter2 #A16 input, 
.filter .filter2 #B16 input, 
.filter .filter2 #C16 input{
	width:16px;
	height:16px;
}


@media (min-width: 991px){
	#filtrer div{
		margin: auto 0;
		display: flex;
		flex-direction: flex-column;
	}

	/*#input-filtrer{
		margin-bottom: 20px;
	}*/
}

@media (min-width: 768px) and (max-width: 990px){
	#header{
		position: relative;
		position: fixed;
	   	position: absolue;
	   	width: 100%;
   	    z-index:9999;
	}
	
	#h1{
		/*position: relative;
		position: fixed;
	    position: absolue;
	    width: 100%;
	   	padding-top: 100px;*/
	   	text-align: center;
	}
	
	/*.filter,
	.filter1
	#filter1_param,
	#filter2_param,
	#filter3_param,
	.filtre2Bis_1,
	.filtre2Bis_2,
	.filtre2Bis_3,
	#filtrer {*/
		/*margin-left: 40px;
		display: flex !important;
		flex-direction: row !important;*/
		/*position: fixed;
		margin-top: 165px;*/
		/*margin-top: 275px;*/
		/*margin: 5px auto;
	}*/
	/*
	.filter1-select,
	.filter2-select,
	.filter3-select{
		margin: 0 93px;
	}*/
	
/*	
	#nbAppels{
		position: relative;
		position: fixed;
	    position: absolue;
	    width: 100%;
	   	padding-top: 195px;
	}
	
	#form{
		position: relative;
		position: fixed;
	    width: 100%;
	   	padding-top: 228px;
	}*/
	
	#table{
		/*position: absolute;
		margin-top: 375px;*/
		font-size: 10px;
		width: 320% !important;
	}
	
	#table .filter{
		margin-left: auto;
	}
	
	#filtrer div{
		margin: auto 0;
		display: flex;
		flex-direction: flex-column;
	}

	#input-filtrer{
		margin-bottom: 20px;
	}
}
  
@media (max-width: 767px){
	
	#header{
		position: relative;
		position: fixed;
	    position: absolue;
	    width: 100%;
	    z-index:9999;
	}
	/*
	#h1{
		position: relative;
		position: fixed;
	    position: absolue;
	    width: 100%;
	   	padding-top: 100px;
	}
	
	#nbAppels{
		position: relative;
		position: fixed;
	    position: absolue;
	    width: 100%;
	   	padding-top: 195px;
	}
	
	#form{
		position: relative;
		position: fixed;
	    position: absolue;
	    width: 100%;
	   	padding-top: 228px;
	   	z-index:9998;
	}*/
	/*
	.filter,
	.filter1
	#filter1_param,
	#filter2_param,
	#filter3_param,
	.filtre2Bis_1,
	.filtre2Bis_2,
	.filtre2Bis_3,
	#filtrer {*/
		/*margin-left: 40px;
		display: flex !important;
		flex-direction: row !important;*/
		/*position: fixed;
		margin-top: 165px;*/
		/*margin-top: 275px;*/
		/*margin: 5px auto;
	}*/
	/*
	.filter1-select,
	.filter2-select,
	.filter3-select{
		margin: 0 93px;
	}*/
	/*
	#input-filtrer{
		margin-right: 40px;
		width: 100px;
		height: 20px;
	}
	
	#enlever-filtre{
		width: 100px;
		height: max-content;
	}
	
	main form div div .filter1{
		margin-left: 47px;
	}*/

	/*#table{*/
		/*position: absolute;
		margin-top: 545px;*/
		/*font-size: 10px;
		width: 320% !important;
	}*/
	/*
	.filter1{
		margin: 0 auto;
	}*/
	
	.column1-filters{
		margin-bottom: 20px;
	}
	
	.column2-filter1,
	.column2-filter2,
	.column2-filter3{
		display: flex;
		justify-content: center;
	} 
	
	.column2-filter2{
		margin: 20px 0;	
		padding: 0 3px;
	    padding: inherit;
	}
	
	.column2-filter2 div{
	    padding: 0 3px;
	}
	
	#filter1_param,
	#filter2_param,
	#filter3_param{
		color: blue;
	}
	
	#input-filtrer{
		width: 97px;
	}
	
	#enlever-filtre{
		height: max-content;
	}
}

						







