/*GLOBAL*/

body{
  font-family: Arial, Helvetica, sans-serif;
  /* background: url("../img/bkg.jpg");
  background-size: cover;
  background-position: center; */
}

.liste-utilisateur:hover, .liste-appels:hover{
	color: rgba(255,255,255) !important;
}

header nav div .deconnexion{
	color: rgba(255,255,255,.55);
}

header nav div .deconnexion:hover{
	color: rgba(255,255,255);
}
/*MAIN*/




